<a href="https://colab.research.google.com/github/MaksimenkoNikolai/my_python/blob/master/football3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'

df = pd.read_csv(url)
df.head()

   Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0           0           L. Messi   31  ...        15            14           8
1           1  Cristiano Ronaldo   33  ...        15            14          11
2           2          Neymar Jr   26  ...        15            15          11
3           3             De Gea   27  ...        87            88          94
4           4       K. De Bruyne   27  ...         5            10          13

[5 rows x 42 columns]

In [2]:
df.groupby(['Club'])

In [3]:
grouped_df = df.groupby(['Club']).sum()
grouped_df

                       Unnamed: 0  Age  ...  GKPositioning  GKReflexes
Club                                    ...
 SSV Jahn Regensburg       129124  609  ...            409         424
1. FC Heidenheim 1846      117834  473  ...            335         306
1. FC Kaiserslautern       167351  544  ...            368         356
1. FC Köln                  54865  225  ...            252         268
1. FC Magdeburg            116731  515  ...            361         394
...                           ...  ...  ...            ...         ...
Zagłębie Sosnowiec         220803  656  ...            391         413
Çaykur Rizespor            119137  557  ...            388         389
Örebro SK                  224465  622  ...            428         407
Östersunds FK              136103  478  ...            337         363
Śląsk Wrocław              172358  628  ...            394         403

[650 rows x 38 columns]

In [4]:
df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

            Name         Club    Wage  Age  ShotPower
291      Mariano  Real Madrid  140000   24         85
6279  L. Quezada   Córdoba CF    2000   22         66

# **Задания:**

In [7]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'

df = pd.read_csv(url)
df

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
0               0            L. Messi  ...             14          8
1               1   Cristiano Ronaldo  ...             14         11
2               2           Neymar Jr  ...             15         11
3               3              De Gea  ...             88         94
4               4        K. De Bruyne  ...             10         13
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[12897 rows x 42 columns]

In [10]:
l1=df.groupby(['Position'])[['Wage','Value']].mean()
l1.sort_values(['Value'],ascending=False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [11]:
l1=df.groupby(['Club'])['Wage'].agg(['mean','median'])
l2=l1.loc[l1['mean']==l1['median']]
len(l2.index)

52

In [13]:
l1.loc[l1['mean']==l1.max().values[0]]

                      mean  median
Club
Real Madrid  188090.909091  207500

In [15]:
df.groupby(['Club'])['Wage'].sum()['Chelsea']

2035000

In [16]:
df.loc[(df['Nationality']=='Argentina') & (df['Age']==30)]['Wage'].max()

300000

In [20]:
s=df.loc[df['Nationality']=='Argentina']
s=s.loc[s['Club']=='FC Barcelona']
l1=s['Strength'].max()
l2=s['Balance'].max()
print(str(l1)+ ', '+str(l2))

59, 95